@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Roboto+Mono:wght@700&display=swap');

body {
    align-items: center;
    display: flex;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#app.game_mode_basic {
    width: 280px;
}
  
#app.game_mode_intermediate {
    width: 520px;
}
  
#app.game_mode_expert {
    width: 940px;
}

#game_progress {
    background-color: #000;
    border: 20px solid #bbb;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    color: limegreen;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    height: 40px;
}
  
#game_progress .number_mines_to_discover {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
  
#game_progress .state {
    align-items: center;
    border: 20px solid #bbb;
    border-bottom-width: 0;
    border-top-width: 0;
    display: flex;
    justify-content: center;
    min-width: 40px;
    width: 40px;
}

#game_progress .state.game_over {
    cursor: pointer;
}
   
#game_progress .number_mines_discovered {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#game_cells_container {
    border: 20px solid #bbb;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-wrap: wrap;
}

#game_cells_container.game_over {
    pointer-events: none;
  }

#game_cells_container .game_cell {
    align-items: center;
    background-color: #bbb;
    border: 2px ridge #bbb;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

#game_cells_container .game_cell.cleared {
    border: 2px ridge #fff;
    background-color: #eee;
}

#game_cells_container .game_cell.flagged {
    border: 2px ridge #fff;
    background-color: #eee;
}

#game_mode_switcher {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4px;
  }
  
  #game_mode_switcher .game_mode {
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    margin: 4px 0;
    opacity: 0.5;
    padding: 4px;
  }
  
  #game_mode_switcher .game_mode.active {
    cursor: default;
    opacity: 1;
    text-shadow: 2px 2px #777;
  }
  
  #game_mode_switcher .game_mode.basic {
    background-color: rgb(62, 145, 62);
  }
  
  #game_mode_switcher .game_mode.intermediate {
    background-color: rgb(145, 62, 62);
  }
  
  #game_mode_switcher .game_mode.expert {
    background-color: rgb(0, 0, 0);
  }