body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#app {
    width: 272px;
}

#game_cells_container {
    display: flex;
    flex-wrap: wrap;
}

#game_cells_container .game_cell {
    align-items: center;
    background-color: #bbb;
    border: 2px ridge #bbb;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}